
#wrapper{ float: center;
		margin: auto;
		width: 90%;
		height: auto;
}
body{
float: center;
 margin-left: 10%;
 background-color #A9A9A9;
    }
}
h3{
text-align: center;
margin-right: 10%;}
body
{

}

#tb1{
	
}

#s {
    
     padding-left: 57px;
}

#s1 {
	 padding-left: 50px;
}
